/*li {*/
    /*padding: 5px;*/
    /*margin: 5px;*/
    /*background: #faebd7;*/
/*}*/

.label {
    font-weight: bold;
}

.create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
}

.form-group {
    margin-bottom: 5px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Make elements as high as viewport */

html {
    height: 100%;
}

body {
    position: relative;
    height: 100%;
}

